/*general*/
* {
	box-sizing: border-box;
	font-size: 14px;
	margin: 0;
}

.container {
	width: 940px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
}

.hidden {
	display: none;
}

/*header*/
#quote {
	font-family: 'Homemade Apple', cursive;
	font-size: 1.7em;
	width: 100%;
	text-align: right;
	margin-top: 0.7em;
	margin-bottom: 0.2em;
}

#author {
	text-transform: uppercase;
	float: right;
	font-family: 'Cutive Mono',monospace;
	margin-bottom: 0.7em;
}

/*section board*/
#board {
	margin:0 auto;
	position: relative;
	background: #fff;
	overflow: hidden;
	width: 940px;
	height: 480px;
	border: 1px solid #fff;
}

.tile {
	position: absolute;
	cursor: pointer;
	float: left;
	width: 100px;
	height: 100px;
	background: url(../assets/img/rsz_cover.jpg) center center no-repeat;
	margin: 0;
}

.tile:hover {
	-webkit-transform: rotateZ(-5deg);
	-ms-transform: rotateZ(-5deg);
	transform: rotateZ(-5deg);
}

/*section timeline*/
#timeline {
	margin: 100px 0 100px 0;
}

.art-memo__timeline {
	position: relative;
}

.art-memo__timeline::before {
	content: '';
	background: black;
	width: 5px;
	height: 400px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.art-memo__timeline__period {
	width: 100%;
	margin-bottom: 60px;
}

.art-memo__timeline__period__dot {
	background: #fff;
	border: 5px solid black;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
	width: 30px;
	height: 30px;
}

.art-memo__timeline__period__content {
	margin: 0 2em;
	width: 45%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.art-memo__timeline__period__content__image {
	width: 160px;
	height: 160px;
	background: url(../assets/img/tile_4.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__content__description {
	margin-left: 1.4em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.art-memo__timeline__period__content__description__main {

}

.art-memo__timeline__period__content__description__main__name {
	font-size: 1.7em;
	font-family: 'Homemade Apple', cursive;
}

.art-memo__timeline__period__content__description__main__date {
	font-family: 'Cutive Mono',monospace;
}

.art-memo__timeline__period__content__description__additional {

}


.art-memo__timeline__refresh {
	position: relative;
	width: 100%;
	height: auto;
}

.art-memo__timeline__refresh__button {
	height: auto;
	float: right;
	background-color: #000;
	color: white;
	width: auto;
	cursor: pointer;
	border: none;
	text-align: center;
	font-family: 'Cutive Mono',monospace;
	font-size: 1.2em;
	padding: 10px;
}

.art-memo__timeline__refresh__button:hover {
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 0 1px black inset;
}

/*footer*/
footer {
	width: 100%;
	height: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.copyright {
	font-family: "Cutive Mono", monospace;
	float: right;
	font-size: 0.8em;
}
