/*general*/
* {
	box-sizing: border-box;
	font-size: 14px;
	margin: 0;
}

.container {
	width: 940px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
}

.hidden {
	display: none;
}

/*header*/
#quote {
	font-family: 'Homemade Apple', cursive;
	font-size: 1.7em;
	width: 100%;
	text-align: right;
	margin-top: 0.7em;
	margin-bottom: 0.2em;
}

#author {
	text-transform: uppercase;
	float: right;
	font-family: 'Cutive Mono',monospace;
	margin-bottom: 0.7em;
}

/*section board*/
#board {
	margin:0 auto;
	position: relative;
	background: #fff;
	overflow: hidden;
	width: 940px;
	height: 480px;
	border: 1px solid #fff;
}

.tile {
	position: absolute;
	cursor: pointer;
	float: left;
	width: 100px;
	height: 100px;
	background: url(../assets/img/rsz_cover.jpg) center center no-repeat;
	margin: 0;
}

.tile:hover {
	-webkit-transform: rotateZ(-5deg);
	-ms-transform: rotateZ(-5deg);
	transform: rotateZ(-5deg);
}

/*section timeline*/
#timeline {
	margin: 5em 0;
}

.art-memo__timeline {
	position: relative;
}

.art-memo__timeline:last-of-type {
	padding-bottom: 6em;
}

.art-memo__timeline::before {
	content: '';
	width: 5px;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0.95) 92%, rgba(255,255,255,0.95) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(5%, rgba(0,0,0,1)), color-stop(92%, rgba(0,0,0,0.95)), color-stop(100%, rgba(255,255,255,0.95)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0.95) 92%, rgba(255,255,255,0.95) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0.95) 92%, rgba(255,255,255,0.95) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0.95) 92%, rgba(255,255,255,0.95) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0.95) 92%, rgba(255,255,255,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.art-memo__timeline__period {
	width: 100%;
	margin-bottom: 8em;
}

.art-memo__timeline__period__dot {
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 45px;
	margin-left: -60px;
	width: 120px;
	height: 120px;
	-webkit-box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.75);
	background: radial-gradient(circle at 120px 120px, #fff, #000);
}

.art-memo__timeline__period__dot:after {
	content: "";
	width: 70px;
	height: 30px;
	position: absolute;
	left: 25px;
	top: 10px;
	z-index: 10;
	background: -moz-linear-gradient(top, rgba(232,232,232,0.7) 0%, rgba(232,232,232,0.7) 1%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,0.7)), color-stop(1%,rgba(232,232,232,0.7)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(232,232,232,0.7) 0%,rgba(232,232,232,0.7) 1%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(232,232,232,0.7) 0%,rgba(232,232,232,0.7) 1%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(232,232,232,0.7) 0%,rgba(232,232,232,0.7) 1%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top, rgba(232,232,232,0.7) 0%,rgba(232,232,232,0.7) 1%,rgba(255,255,255,0) 100%);
	-webkit-filter: blur(3px);
	border-radius: 35px / 15px;
	opacity: 0.8;
}

.art-memo__timeline__period__dot--renaissance {
	background: url(../assets/img/tile_11.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--baroque {
	background: url(../assets/img/tile_5.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--rococo {
	background: url(../assets/img/tile_4.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--classicism {
	background: url(../assets/img/tile_9.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--romanticism {
	background: url(../assets/img/tile_3.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--realism {
	background: url(../assets/img/tile_6.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--impressionism {
	background: url(../assets/img/tile_10.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--postimpressionism {
	background: url(../assets/img/tile_7.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--symbolism {
	background: url(../assets/img/tile_1.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--fauvism {
	background: url(../assets/img/tile_14.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--cubism {
	background: url(../assets/img/tile_13.jpg) center center no-repeat;
	background-size: cover;
}
.art-memo__timeline__period__dot--abstract-art {
	background: url(../assets/img/tile_12.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--art-déco {
	background: url(../assets/img/tile_15.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--surrealism {
	background: url(../assets/img/tile_2.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--abstract-expressionism {
	background: url(../assets/img/tile_16.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__dot--pop-art {
	background: url(../assets/img/tile_8.jpg) center center no-repeat;
	background-size: cover;
}

.art-memo__timeline__period__content {
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.art-memo__timeline__period__content--left {
	text-align: right;
	margin-right: 40em;
}

.art-memo__timeline__period__content--right {
	text-align: left;
	margin-left: 40em;
}

.art-memo__timeline__period__content__main {
	margin-top: 2.8em;
}

.art-memo__timeline__period__content__main__name {
	font-size: 1.7em;
	font-family: 'Homemade Apple', cursive;
	letter-spacing: .05em
}

.art-memo__timeline__period__content__main__time {
	margin-top: -0.8em;
}

.art-memo__timeline__period__content__additional {
	margin-top: 1em;
}

.art-memo__timeline__period__content__additional__piece {
	font-style: italic;
	opacity: 0.7;
}

.art-memo__reload {
	position: relative;
	width: 100%;
	height: auto;
}

.art-memo__reload__button {
	height: auto;
	float: right;
	background-color: #000;
	color: white;
	width: auto;
	cursor: pointer;
	border: none;
	text-align: center;
	font-family: 'Cutive Mono',monospace;
	font-size: 1.2em;
	padding: 10px;
}

.art-memo__reload__button:hover {
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 0 1px black inset;
}

/*footer*/
footer {
	width: 100%;
	height: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.copyright {
	font-family: "Cutive Mono", monospace;
	float: right;
	font-size: 0.8em;
}
